@layer reset, base, components, utilities;

@import "tailwindcss";

@layer base {
  @theme {
    --color-primary: #0277D1;
    --color-background: #ffffff;
    --color-foreground: #171717;
    --color-border: #E1E7EF;

    --font-display: var(--font-display);
    --font-heading: var(--font-heading);
    --font-body: var(--font-body);
  }

  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  body {
    @apply flex flex-col min-h-screen subpixel-antialiased;
    background: var(--background);
    color: var(--foreground);
  }

  * {
    @apply scroll-smooth border-border;
    border-color: var(--color-border);
  }

  *::-webkit-scrollbar {
    @apply w-5 ;
  }

  *::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  *::-webkit-scrollbar-thumb {
    @apply
    bg-gray-300
    rounded-full
    border-4
    border-solid
    border-transparent;
    background-clip: content-box;
  }

  h1 {
    @apply font-display;
  }

  h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}

@layer components {
  main {
    @apply mt-24;
  }
}